{% load humanize tags %}
{% for post in feeds %}
<div class="ui-feed-container{{post.id}}" id="feed{{post.id}} px-3 uk-animation-slide-left-small">
<div class="ui-feed {% if post.follower_comment %}has-comment{% endif %}">
<div class="ui-feed-thumb">
<div class="ui-feed-thumb-inner">
<a href="{% url 'accounts:profile' username=post.user.username %}" class="rounded-full">
<img src="{{post.user.avatar.url}}" class="bg-gray-200 rounded-full w-12 h-12">
</a>
{% include 'feed/partials/action_buttons.html' %}
</div>
<div class="ui-thread-line"></div>
</div>

<div class="ui-feed-contents ui-block">
<div class="ui-feed-author">
<div class="ui-feed-name">{{post.user.name}}  <a href="{% url 'accounts:profile' username=post.user.username %}" class="ui-at ui-feed-uname">@{{post.user.username}}</a>
<div class="ui-feed-time">{{post.created_at|custom_date}}</div>
</div>

<div class="ui-feed-btn hover:bg-gray-200 transition" style="z-index: 1;" data-id="{{post.id}}" hx-get="{% url 'feed:menu' pk=post.id %}" hx-target="#feed-menu-modal" hx-swap="outerHTML">
<svg role="img" class="icon icon--20" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
<circle cx="12" cy="12" r="1"></circle>
<circle cx="6" cy="12" r="1"></circle>
<circle cx="18" cy="12" r="1"></circle>
</svg>
</div>
</div>
<div class="ui-feed-text" id="feed-text{{post.id}}">{{post.text|linebreaksbr|safe}}</div>
{% with images=post.images.all %}
{% if images.count == 1 %}
<div class="feed-image" uk-lightbox>
{% for image in images %}
<a class="feed-image-item" href="{{image.image.url}}" style="background-image: url({{image.image.url}});display: block;" title="{{post.username}}'s post"></a>
{% endfor %}
</div>
{% elif images.count == 2 %}
<div class="feed-image" uk-lightbox>
<div class="feed-image-column">
{% for image in images %}
<a class="feed-image-item image-item" href="{{image.image.url}}" style="background-image: url({{image.image.url}});" title="{{post.username}}'s post"></a>
{% endfor %}
</div>
</div>
{% elif images.count == 3 or images.count > 3 %}
<div class="feed-masonry-grid" uk-lightbox>
<div class="feed-masonry-column">
{% for image in images %}
{% if forloop.counter == 1 %}
<a href="{{image.image.url}}" style="background-image: url({{image.image.url}});" title="{{post.username}}'s post"></a>
{% endif %}
{% endfor %}
</div>
<div class="feed-masonry-columns">
{% for image in images|slice:":3" %}
<a href="{{image.image.url}}" style="background-image: url({{image.image.url}});" title="{{post.username}}'s post"></a>
{% endfor %}
{% with total=images.count %}
{% if total > 3 %}
<span class="bg-gray-900 bg-opacity-30">+{{total|add:-3}} more</span>
{% endif %}
{% endwith %}
</div>
</div>
{% endif %}
{% endwith %}

{% if post.poll %}
<div id="ui-poll{{post.id}}">
{% with poll=post.poll %}
{% if request.user in poll.users_voted %}
<div class="ui-poll-result">
{% for choice in poll.choices.all %}
<div class="ui-result-wrapper">
<div class="uk-button uk-button-default{%  user_voted choice=choice user=request.user %}"><span class="text">{{choice.choice_text}}</span> <span class="bg" style="width: {% poll_percentage choice.votes poll.votes_count %};"></span></div> <span> {% poll_percentage choice.votes poll.votes_count %} </span>
</div>
{% endfor %}
<p class="ui-poll-stats">{{poll.votes_count}} votes</p>
</div>
{% else %}
<div class="ui-poll-wrapper" id="poll{{post.id}}" data-feed="{{post.id}}" data-poll="{{poll.id}}">
{% for choice in poll.choices.all %}
<a class="uk-button uk-button-default" data-choice="{{choice.id}}">{{ choice.choice_text }}</a>
{% endfor %}
<p class="ui-poll-stats">{{ poll.votes_count }} votes</p>
</div>
{% endif %}
{% endwith %}
</div>
{% endif %}

<div class="ui-feed-footer pt-2 space-y-3"> 
<div class="ui-feed-footer-inner">
<div class="social-count">
<div class="comments-count">
<svg class="icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
{% with count=post.comments.count %}
{% if count >= 1 %}
<span>{{ count|intword }} </span>
{% endif %}
{% endwith %}
</div>

<div class="shares-count">
<svg role="img" class="icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<desc id="swapVerticalIconDesc"></desc>
<path d="M4 8L7 5L10 8"></path>
<path d="M7 20L7 6"></path>
<path d="M20 17L17 20L14 17"></path>
<path d="M17 5L17 19"></path>
</svg>
{% with count=post.repost.count %}
{% if count >= 1 %}
<span>{{ count|intword }} </span>
{% endif %}
{% endwith %}
</div>

<div class="likes-count">
<svg class="icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
{% with count=post.likes.count %}
{% if count >= 1 %}
<span>{{ count|intword }} </span>
{% endif %}
{% endwith %}
</div>

<div class="likes-count">
<svg role="img" xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" aria-labelledby="shareAndroidIconTitle">
<title id="shareAndroidIconTitle">Share</title>
<path d="M16 8L8 11 16 8zM16 16L8 13 16 16z"></path>
<circle cx="6" cy="12" r="2"></circle>
<circle cx="18" cy="7" r="2"></circle>
<circle cx="18" cy="17" r="2"></circle>
</svg>
</div>

</div>
</div>
</div>
</div>
</div>

{% if post.follower_comment %}
{% with comment=post.follower_comment %}
<div class="ui-comment-list w-full" id="comment{{post.id}}">
<div class="ui-comment-thumb">
<a href="{% url 'accounts:profile' username=comment.user.username %}" class="rounded-full">
<img src="{{comment.user.avatar.url}}" class="bg-gray-200 rounded-full w-12 h-12" alt="{{comment.user.username}}'s picture">
</a>
</div>

<div class="ui-comment-container flex relative w-full">
<div class="ui-comment h-full relative lg:ml-5">
<div class="ui-comment-user"><span class="font-bold">{{comment.user.name}}</span>  ~ <a href="{% url 'accounts:profile' username=comment.user.username %}" class="ui-at">@{{comment.user.username}}</a>
</div>
<p>Replying to <a href="{% url 'accounts:profile' username=post.user.username %}" class="ui-at">@{{post.user.username}}</a></p>
<div class="ui-comment-text">{{comment.text|linebreaksbr|safe}}</div>
{% if comment.comment_image.all %}
<div class="ui-comment-image pt-2">
<div class="feed-image" uk-lightbox>
{% for image in comment.comment_image.all %}
<a class="feed-image-item" href="{{image.image.url}}">
<img src="{{image.image.url}}" alt="{{comment.user.username}}'s comment">
{% with total=comment.comment_image.all.count %}
{% if total > 1 %}
<span class="bg-gray-900 bg-opacity-30">
+{{total|add:-1}} more
</span>
{% endif %}
{% endwith %}
</a>
{% endfor %}
</div>
</div>
{% endif %}
<div class="ui-comment-buttons">
<div class="ui-comment-time"> • {{comment.created_at|custom_date}}</div>
<button class="ui-comment-button ui-like-button">
<svg class="icon icon--16" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
</button>
<button class="ui-comment-button">
<svg class="icon icon--16" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
</button>
</div>
</div>
<div class="ui-comment-menu">
<div class="modal-trigger" data-modal="feed-menu-modal" data-id="{{post.id}}"><i class="icon-feather-chevron-down font-medium hover:bg-gray-200 rounded-full p-2 transition"></i>
</div>
<div class="ui-comment-stats">
<div class="ui-stats"><svg class="icon" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg> 
<span>1.5K</span></div>
<div class="ui-stats"><svg class="icon" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg> <span>50</span></div>
<div class="ui-stats">
<svg class="icon stroke-current" width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 14V6"></path><path d="M9 8L12 5L15 8"></path><path d="M5 13V18H19V13"></path></svg>
<span>5</span></div>
</div>
</div>
</div>

</div>
{% endwith %}
{% endif %}
</div>

{% empty %}
<div class="ui-comment-container flex relative w-full">
<div class="ui-no-contents p-4">
{% if user.username == request.user.username %}
<h2 class="text-xl font-bold">You haven't posted yet</h2>
<div class="mt-2"><p>When you send feeds or replies, they'll show up here.</p></div>
{% else %}
<h3 class="text-xl font-bold">@{{user.username}} haven't posted yet</h3>
<div class="mt-2"><p>When they send feeds or replies, they'll show up here.</p></div>
{% endif %}
</div>
</div>
{% endfor %}